TELEMETRY_WORKER_ENDPOINT=https://yumeshelf-telemetry.sayusumat.workers.dev/v1/ship
TELEMETRY_CLIENT_TOKEN=yumeshelf-client-auth-token-2026
PURRITIZE_TELEMETRY_ENDPOINT=https://gruhznhjxhbtnaxlyswn.supabase.co
